Options All -ExecCGI -Indexes -Includes +FollowSymLinks

AddDefaultCharset UTF-8
AddCharset utf-8 .css .js .txt .json .rss .xml

ServerSignature Off

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteRule ^uk$ / [R=301,L]
RewriteRule ^uk/(.*)$ /$1 [R=301,L]

RewriteRule ^en$ / [R=301,L]
RewriteRule ^en/(.*)$ /$1 [R=301,L]

RewriteRule ^(.*)/?index\.html$ https://agropro.org.ua/$1 [R=301,L]

Redirect 301 /catalog/dacha https://agropro.org.ua/
Redirect 301 /ru/catalog/dacha https://agropro.org.ua/ru

Redirect 301 /product-list/sad-gorod https://agropro.org.ua/product-list/gerbitsidi
Redirect 301 /ru/product-list/sad-gorod https://agropro.org.ua/ru/product-list/gerbitsidi

Redirect 301 /product-list/vid-zhuka https://agropro.org.ua/product-list/insektitsidi
Redirect 301 /ru/product-list/vid-zhuka https://agropro.org.ua/ru/product-list/insektitsidi

Redirect 301 /product-list/vid-grizuniv https://agropro.org.ua/product-list/rodentitsidi
Redirect 301 /ru/product-list/vid-grizuniv https://agropro.org.ua/ru/product-list/rodentitsidi

Redirect 301 /product-list/vid-khvorob https://agropro.org.ua/product-list/fungitsidi
Redirect 301 /ru/product-list/vid-khvorob https://agropro.org.ua/ru/product-list/fungitsidi

Redirect 301 /catalog/fumiganti-ta-rodentitsidi https://agropro.org.ua/
Redirect 301 /ru/catalog/fumiganti-ta-rodentitsidi https://agropro.org.ua/ru

Redirect 301 /product/dobrodiy-molibden-10l https://agropro.org.ua/product/dobrodiy-molibden-plyus-25kg
Redirect 301 /ru/product/dobrodiy-molibden-10l https://agropro.org.ua/ru/product/dobrodiy-molibden-plyus-25kg

Redirect 301 /product/dikvat-20l-2 https://agropro.org.ua/product/desikant-dikvat-20l
Redirect 301 /ru/product/dikvat-20l-2 https://agropro.org.ua/ru/product/desikant-dikvat-20l

Redirect 301 /product/dikvat-20l https://agropro.org.ua/product/desikant-alfa-dikvat-20l
Redirect 301 /ru/product/dikvat-20l https://agropro.org.ua/ru/product/desikant-alfa-dikvat-20l


RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^/(admin)
RewriteRule ^admin(\/?.*)$ backend/web/$1 [L]

RewriteCond %{REQUEST_URI} ^/
RewriteRule ^(\/?.*)$ frontend/web/$1 [L]
</IfModule>

<IfModule mod_setenvif.c>
SetEnv TZ Europe/Kiev
</IfModule>

<IfModule mod_dir.c>
DirectoryIndex index.php
</IfModule>

<ifModule mod_deflate.c>
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE application/java
AddOutputFilterByType DEFLATE application/java-byte-code
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-gzip
AddOutputFilterByType DEFLATE application/x-java-class
AddOutputFilterByType DEFLATE application/x-java-commerce
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE image/png
AddOutputFilterByType DEFLATE image/jpg
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/xml
</ifModule>
 
<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 20 seconds"
ExpiresByType application/json "access plus 10 seconds"
ExpiresByType text/html "access plus 30 minutes"
ExpiresByType application/xhtml+xml "access plus 30 minutes"
ExpiresByType text/xml "access plus 30 minutes"
ExpiresByType application/xml "access plus 30 minutes"
ExpiresByType application/rss+xml "access plus 30 minutes"
ExpiresByType application/atom+xml "access plus 30 minutes"
ExpiresByType application/x-shockwave-flash "access plus 1 hour"
ExpiresByType text/css "access plus 1 week"
ExpiresByType text/javascript "access plus 1 week"
ExpiresByType text/x-component "access plus 1 week"
ExpiresByType application/javascript "access plus 1 week"
ExpiresByType application/x-javascript "access plus 1 week"
ExpiresByType image/x-icon "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType image/svg+xml "access plus 1 year"
ExpiresByType font/opentype "access plus 1 year"
ExpiresByType application/x-font-ttf "access plus 1 year"
ExpiresByType application/x-font-woff "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>

Header set Cache-Control "public, max-age=3600"

# ---- Новые заголовки защиты ----
    Header always set X-Frame-Options "DENY"
    Header always set Content-Security-Policy "frame-ancestors 'none'"
    Header always set Access-Control-Allow-Origin "*"
    Header always set X-XSS-Protection "1; mode=block"
    Header always set X-Content-Type-Options "nosniff"
    
    Header always set Strict-Transport-Security "max-age=2592000; includeSubDomains; preload"
    Header always set Referrer-Policy "origin-when-cross-origin"
    Header always set X-Permitted-Cross-Domain-Policies "none"
    Header always set Cross-Origin-Embedder-Policy "require-corp"
    Header always set Cross-Origin-Opener-Policy "same-origin"
    Header always set Cross-Origin-Resource-Policy "same-origin"

</IfModule>

<IfModule mod_rewrite.c>
# Редиректим попытку взлома
 Redirect /DOCUMENT_ROOT https://agropro.org.ua
 
 Redirect /agropro.zip https://agropro.org.ua
 Redirect /ads.txt https://agropro.org.ua
 Redirect /humans.txt https://agropro.org.ua
 Redirect /security.txt https://agropro.org.ua
 Redirect /xmlrpc.php https://agropro.org.ua
 Redirect /geju.php https://agropro.org.ua
 Redirect /media/system/js/core.js https://agropro.org.ua
 Redirect /backup https://agropro.org.ua
 Redirect /new https://agropro.org.ua
 Redirect /old https://agropro.org.ua
 Redirect /temp https://agropro.org.ua
 Redirect /test https://agropro.org.ua
 
 Redirect /.git/config https://agropro.org.ua
 Redirect /news/wp-includes/wlwmanifest.xml https://agropro.org.ua
 Redirect /2018/wp-includes/wlwmanifest.xml https://agropro.org.ua
 Redirect /wp1/wp-includes/wlwmanifest.xml https://agropro.org.ua
 Redirect /media/wp-includes/wlwmanifest.xml https://agropro.org.ua
 Redirect /blog/wp-includes/wlwmanifest.xml https://agropro.org.ua
 Redirect /shop/wp-includes/wlwmanifest.xml https://agropro.org.ua
 
 Redirect /assets/jquery-file-upload/server/php/ https://agropro.org.ua
 Redirect /assets/backend/plugins/jquery-file-upload/server/php/ https://agropro.org.ua
 Redirect /assets/libs/jquery-file-upload/server/php/ https://agropro.org.ua
 Redirect /assets/lib/jquery-file-upload/server/php/ https://agropro.org.ua
 Redirect /lib/jquery-file-upload/server/php/ https://agropro.org.ua
 Redirect /js/jquery-file-upload/server/php/ https://agropro.org.ua
 Redirect /assets/plugins/jquery-file-upload/server/php/ https://agropro.org.ua
 Redirect /assets/global/plugins/jquery-file-upload/server/php/ https://agropro.org.ua
 Redirect /resources/global/plugins/jquery-file-upload/server/php/ https://agropro.org.ua
 Redirect /app/webroot/global/plugins/jquery-file-upload/server/php/ https://agropro.org.ua
 Redirect /assets/themes/metronic/global/jquery-file-upload/server/php/ https://agropro.org.ua
 Redirect /metronic/assets/global/plugins/jquery-file-upload/server/php/ https://agropro.org.ua
 
 Redirect /wp-login.php https://agropro.org.ua
 Redirect /wp-includes/wlwmanifest.xml https://agropro.org.ua
 Redirect /wp.php https://agropro.org.ua
 Redirect /wp-content/plugins/about.php https://agropro.org.ua
 Redirect /wp-content/plugins/wp-automatic/inc/csv.php https://agropro.org.ua
 Redirect /wp-aa.php https://agropro.org.ua
 Redirect /wp-config.php_old https://agropro.org.ua
 Redirect /wp https://agropro.org.ua
 Redirect /wordpress https://agropro.org.ua
 Redirect /wp-config.php~ https://agropro.org.ua
 
 Redirect /sito/wp-includes/wlwmanifest.xml https://agropro.org.ua
 Redirect /cms/wp-includes/wlwmanifest.xml https://agropro.org.ua
 Redirect /site/wp-includes/wlwmanifest.xml https://agropro.org.ua
 Redirect /wp2/wp-includes/wlwmanifest.xml https://agropro.org.ua
 Redirect /test/wp-includes/wlwmanifest.xml https://agropro.org.ua
 Redirect /wp1/wp-includes/wlwmanifest.xm https://agropro.org.ua
 Redirect /2019/wp-includes/wlwmanifest.xml https://agropro.org.ua
 Redirect /2020/wp-includes/wlwmanifest.xml https://agropro.org.ua
 Redirect /wp/wp-includes/wlwmanifest.xml https://agropro.org.ua
 Redirect /website/wp-includes/wlwmanifest.xml https://agropro.org.ua
 Redirect /wordpress/wp-includes/wlwmanifest.xml https://agropro.org.ua
 Redirect /web/wp-includes/wlwmanifest.xml https://agropro.org.ua
 
 Redirect /.well-known/traffic-advice https://agropro.org.ua
 Redirect /.well-known/security.txt https://agropro.org.ua
 Redirect /.well-known/gpc.json https://agropro.org.ua
 Redirect /.well-known/passkey-endpoints https://agropro.org.ua
 Redirect /.well-known/webauthn https://agropro.org.ua
 Redirect /.well-known/privacy-sandbox-attestations.json https://agropro.org.ua
 Redirect /.well-known/web-identity https://agropro.org.ua
 Redirect /.well-known/related-website-set.json https://agropro.org.ua
 Redirect /.well-known/change-password https://agropro.org.ua
 Redirect /.well-known/assetlinks.json https://agropro.org.ua
 Redirect /.well-known/resource-that-should-not-exist-whose-status-code-should-not-be-200/ https://agropro.org.ua

 RedirectMatch (.*)\cmd.exe$ https://agropro.org.ua

 # Блокируем любой скрипт пытающийся отправить чере base64_encode по URL
 RewriteCond %{QUERY_STRING} base64_encode.*(.*) [OR]
 RewriteCond %{QUERY_STRING} base64_encode[^(]*\([^)]*\) [OR]
 # Блокируем любой скрипт который содержит тег <script> в URL
 RewriteCond %{QUERY_STRING} (<|%3C).*script.*(>|%3E) [NC,OR]
 RewriteCond %{QUERY_STRING} (<|%3C)([^s]*s)+cript.*(>|%3E) [NC,OR]
 # Блокируем любой скрипт пытающийся изменить _REQUEST переменную через URL
 RewriteCond %{QUERY_STRING} _REQUEST(=|[|%[0-9A-Z]{0,2}) [OR]
 RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2}) [OR]
 # Блокировать любой запрос, содержащий тег <iframe> в URL
 RewriteCond %{QUERY_STRING} (<|%3C).*iframe.*(>|%3E) [NC,OR]
 # Перенаправлять заблокированные запросы
 RedirectMatch (.*)\cmd.exe$ https://agropro.org.ua$1
</IfModule>

